@tailwind base;
@tailwind components;
@tailwind utilities;

.form-container{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input[type="text"]{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

input[type="text"]:focus{
    outline-color: rgb(93, 148, 196);
}

#result{
    font-size: 35px;
    margin: 14px;
    font-weight: 500;
}

